-if current_flickr_account.present?
  .albums
    - @albums.each do |album|
      .albums-element{style: "width: 200px; height: 200px; background-image: url(#{ album['background_image'] });"}
        .albums-element-case
          .albums-element-text
            %h4 #{ album['title']['_content'] }
            %p #{ album['stats'] }
-else
  .center-block
    .container
      .row
        .col-lg-12
          = link_to new_flickr_account_path, class: "btn.btn-default", id: "add-flickr-account" do
            %i.fa.fa-plus-square.fa-fw
            %span Connect Flickr Account
