-if current_flickr_account.present?
  .albums
    - @albums.each do |album|
      .albums-element
        %p #{ album['title']['_content'] }
-else
  .center-block
    .container
      .row
        .col-lg-12
          = link_to new_flickr_account_path, class: "btn.btn-default", id: "add-flickr-account" do
            %i.fa.fa-plus-square.fa-fw
            %span Connect Flickr Account
