.videos {
  //position: relative;
  overflow: hidden;
  padding: 10px 0;
  text-align: center;
}

.videos-element {
  margin: 0 5px 10px;
  overflow: hidden;
  background-color: lightcyan;
  border-radius: 5px;
  display: inline-block;
}

.videos-thumbnail {
  position: absolute;
  //margin: 5px 5px 10px;
  padding: 5px;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
